.btn {
    background-color: #926bec;
    padding: 10px 60px;
    border: 2px solid #ffffff;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #56f2c1;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    align-items: center;
}